body {
    margin: 60px auto;
    width: 70%;
    background-color: #50E3C2;
    background-image:
        radial-gradient(at 47% 33%, hsl(162.00, 77%, 40%) 0, transparent 59%),
        radial-gradient(at 82% 65%, hsl(198.00, 100%, 50%) 0, transparent 55%);
}

nav ul, footer ul {
    font-size: 2.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}


/* Profile card */
.profile-card {
    backdrop-filter: blur(16px) saturate(181%);
    -webkit-backdrop-filter: blur(16px) saturate(181%);
    width: 300px;
    background-color: rgba(255, 255, 255, 0.74);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.profile-card-header img {
    width: 150px;
    height: 150px;
    border-radius: 57% 43% 70% 30% / 37% 40% 60% 63% ; /* Makes the image circular */
     object-fit: cover; /* Ensures the image covers the container */
}

.profile-card-body {
    padding: 20px;
}

.profile-card-body h2 {
    margin: 0;
    font-size: 22px;
    color: #333;
}

.profile-card-body p {
    margin: 10px 0;
    color: #777;
}

.profile-card-footer {
    background-color: #f4f4f4;
    padding: 10px 0;
}

.profile-card-footer a {
    text-decoration: none;
    color: #1e90ff;
    margin: 0 10px;
    font-weight: bold;
}

.profile-card-footer a:hover {
    text-decoration: underline;
}

.profile-card-justification {
    position: fixed;
    right: 500px;
    top: 10px;
}


/* CV box, wrapper for a category of the CV */
.cv-box{
    
    .cv-box-title {
        text-transform: uppercase;
        font-size: 25px;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 15px;
    }
    .cv-box-subtitle {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 5px;
    }
    .cv-box-place {
        font-size: 19px;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 15px;
    }
    .cv-box-date {
        font-size: 17px;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 1px;
        line-height: 0.3em;
    }
    .cv-box-text {
        font-size: 16px;
        font-weight: 200;
        margin-top: 0;
        margin-bottom: 0;
        line-height: 0.1em;
    }
}
