body {
    margin: 60px auto;
    width: 70%;
    background-color: #50E3C2;
    background-image:
        radial-gradient(at 47% 33%, hsl(162.00, 77%, 40%) 0, transparent 59%),
        radial-gradient(at 82% 65%, hsl(198.00, 100%, 50%) 0, transparent 55%);
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}


/* Profile card */
.profile-card {
    backdrop-filter: blur(16px) saturate(181%);
    -webkit-backdrop-filter: blur(16px) saturate(181%);
    width: 300px;
    background-color: rgba(255, 255, 255, 0.74);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.profile-card-header img {
    width: 150px;
    height: 150px;
    border-radius: 57% 43% 70% 30% / 37% 40% 60% 63% ; /* Makes the image circular */
     object-fit: cover; /* Ensures the image covers the container */
}

.profile-card-body {
    padding: 20px;
}

.profile-card-body h2 {
    margin: 0;
    font-size: 22px;
    color: #333;
}

.profile-card-body p {
    margin: 10px 0;
    color: #777;
}

.profile-card-footer {
    background-color: #f4f4f4;
    padding: 10px 0;
}

.profile-card-footer a {
    text-decoration: none;
    color: #1e90ff;
    margin: 0 10px;
    font-weight: bold;
}

.profile-card-footer a:hover {
    text-decoration: underline;
}




/* Textbox */
.textbox {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns of equal width */
    gap: 10px; /* Space between the textboxes */
}

.textbox input[type="text"],
.textbox textarea {
    padding: 2px;
    font-size: 1.5em;
    border: 0px solid #50E3C2;
    border-radius: 0px;
    box-sizing: border-box; /* Ensures padding is included in the element's width */
}
.textbox textarea {
    resize: vertical; /* Allows the textarea to be resized vertically */
    height: 150px; /* Default height of the textarea */
}
