---
layout: default
title: Highlights
---
<!--<div class="blurb">-->
<!--	<h1>Planet formation folks, you're at the right place.</h1>-->
<!--	<p>Find below a list of my most recent articles.</p>-->
<!--</div><!-- /.blurb -->





<h1>Scientific Highlights</h1>

<div class="article-wrapper">
  {% for article in site.data.articles %}
        <p class="article-title">{{ article.title }}</p>
        <p class="article-authors">{{ article.authors }}</p>
        <p class="article-abstract">{{ article.abstract }}</p>
            {% for link in article.links %}
                <a class="article-links" href="{{ link.url }}" target="_blank">{{ link.label }}</a>
                {% unless forloop.last %} | {% endunless %}
            {% endfor %}
        <hr>
  {% endfor %}
</div>
