<div class="profile-card" style="contain: layout;">
    <div class="profile-card-header">
        <img src="{{ '/assets/images/raccoonbread.jpeg' | relative_url }}" alt="Profile Image">
    </div>
    <h2 align="center">Antoine Alaguero</h2>
    <p align="center">PhD Student in Astrophysics</p>
    <div class="row">
        <div class="column_2">
            <a href="https://ipag.osug.fr"><img src="{{ '/assets/images/ipag.png' | relative_url }}" alt="IPAG logo" height=100></a>
        </div>
        <div class="column_2">
            <div class="profile-card-logo-container">
                <div class="profile-card-logo-img">
                    <a href="https://nicolascuello.github.io/Stellar-MADE/"><img src="{{ '/assets/images/stellarmade.png' | relative_url }}" alt="stellarmade logo" height=100></a>
                </div>
                <div class="profile-card-inset-logo">
                    <a href="https://nicolascuello.github.io/Stellar-MADE/"><img src="{{ '/assets/images/erc.png' | relative_url }}" alt="ERC logo" height=40></a>
                </div>
            </div>
        </div>
    </div>
    <div class="profile-card-footer">
        <p> </p>
    </div>
</div>

