<div class="profile-card">
    <div class="profile-card-header">
        <img src="{{ '/assets/images/raccoonbread.jpeg' | relative_url }}" alt="Profile Image" align="right" width=50 height=50>
    </div>
    <div class="card">
        <h2>Antoine Alaguero</h2>
        <p>PhD Student in Astrophysics</p>
        <p>Institut de Planétologie et d'Astrophysique de Grenoble</p>
    </div>
    <div class="profile-card-body">
        <h2>Antoine Alaguero</h2>
        <p>PhD Student in Astrophysics</p>
        <p>Institut de Planétologie et d'Astrophysique de Grenoble</p>
    </div>
    <div class="profile-card-footer">
        <a href="https://twitter.com/alagueroa" target="_blank">Twitter</a>
        <a href="https://github.com/alagueroa" target="_blank">GitHub</a>
    </div>
</div>

