<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
            <link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
            <script src="https://cdn.lordicon.com/lordicon.js"></script>
            <div class="navbar">
                <div class="column_8">
                    <a class="linknavbar" href="/"><lord-icon
                        src="https://cdn.lordicon.com/laqlvddb.json"
                        trigger="hover"
                        state="hover-partial-roll"
                        colors="primary:#DCD7D0,secondary:#F2C0BA"
                        style="width:60px;height:60px">
                    </lord-icon></a> 
                    <a style="text-align: center; color: #DCD7D0; text-decoration: none; font-size: 22px; font-weight: 700; margin-right: 5px" href="/">Home</a>
                </div>
                <div class="column_8">
                    <a class="linknavbar" href="/about"><lord-icon
                        src="https://cdn.lordicon.com/iuaevrjs.json"
                        trigger="hover"
                        colors="primary:#DCD7D0,secondary:#F2C0BA"
                        style="width:60px;height:60px">
                    </lord-icon></a>
                    <a style="text-align: center; color: #DCD7D0; text-decoration: none; font-size: 22px; font-weight: 700; margin-right: 5px" href="/about">About me</a>
                </div>
                <div class="column_8">
                    <a class="linknavbar" href="/phd"><lord-icon
                        src="https://cdn.lordicon.com/ghhwiltn.json"
                        trigger="hover"
                        colors="primary:#DCD7D0,secondary:#F2C0BA"
                        style="width:60px;height:60px">
                    </lord-icon></a>
                    <a style="text-align: center; color: #DCD7D0; text-decoration: none; font-size: 22px; font-weight: 700; margin-right: 5px" href="/phd">My PhD</a>
                </div>
                <div class="column_8">
                    <a class="linknavbar" href="/highlights"><lord-icon
                        src="https://cdn.lordicon.com/qhsqomjd.json"
                        trigger="hover"
                        colors="primary:#DCD7D0,secondary:#F2C0BA"
                        style="width:60px;height:60px">
                    </lord-icon></a>
                    <a style="text-align: center; color: #DCD7D0; text-decoration: none; font-size: 22px; font-weight: 700; margin-right: 5px" href="/highlights">Recent Highlights</a>
                </div>
                <div class="column_8">
                </div>                
                <div class="column_8">
                </div>
            </div>
            
            <br>
            <br>
            <br>
            <br>
            
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
            
            <br>
            <br>
            <br>
            <br>
            
           <div class="footbar">
                <p> Antoine Alaguero      / </p>
                <p>      / Website supported by <a href="https://pages.github.com">Githubpages</a>      / </p>
                <p>      / Icons powered by <a href="https://lordicon.com">Lordicon</a> </p>
           </div>
		</body>
	</html>
