<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
            <link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
<!--old navbar-->
<!--			<nav>-->
<!--	    		<ul>-->
<!--	        		<li><a href="/">Home</a></li>-->
<!--		        	<li><a href="/about">About me</a></li>-->
<!--	        		<li><a href="/phd">My PhD</a></li>-->
<!--	        		<li><a href="/highlights">Recent Highlights</a></li>-->
<!--	    		</ul>-->
<!--			</nav>-->
            <script src="https://cdn.lordicon.com/lordicon.js"></script>
            <div class="navbar">
                <div class="column_8">
                    <a class="linknavbar" href="/"><lord-icon
                        src="https://cdn.lordicon.com/laqlvddb.json"
                        trigger="hover"
                        state="hover-partial-roll"
                        colors="primary:#DCD7D0,secondary:#F2C0BA"
                        style="width:60px;height:60px">
                    </lord-icon></a> 
                    <a class="linknavbar" href="/">Home</a>
                </div>
                <div class="column_8">
                    <a class="linknavbar" href="/about"><lord-icon
                        src="https://cdn.lordicon.com/iuaevrjs.json"
                        trigger="hover"
                        colors="primary:#DCD7D0,secondary:#F2C0BA"
                        style="width:60px;height:60px">
                    </lord-icon></a>
                    <a class="linknavbar" href="/about">About me</a>
                </div>
                <div class="column_8">
                    <a class="linknavbar" href="/phd"><lord-icon
                        src="https://cdn.lordicon.com/ghhwiltn.json"
                        trigger="hover"
                        colors="primary:#DCD7D0,secondary:#F2C0BA"
                        style="width:60px;height:60px">
                    </lord-icon></a>
                    <a class="linknavbar" href="/phd">My PhD</a>
                </div>
                <div class="column_8">
                    <a class="linknavbar" href="/highlights"><lord-icon
                        src="https://cdn.lordicon.com/qhsqomjd.json"
                        trigger="hover"
                        colors="primary:#DCD7D0,secondary:#F2C0BA"
                        style="width:60px;height:60px">
                    </lord-icon></a>
                    <a class="linknavbar" href="/highlights">Recent Highlights</a>
                </div>
                <div class="column_8">
                </div>
            </div>
            
            <br>
            <br>
            <br>
            <br>
            
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
            
            
            <div class="footbar">
                <p> La fin de la page. </p>
			</div>
		</body>
	</html>
